html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 970px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #B2B5B6;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff; }
  #mainContent div, #mainContent img {
    position: absolute; }

.logo {
  top: 29px;
  left: 39px; }

.copy {
  top: 146px;
  left: 37px; }

.shiftRight {
  -webkit-transform: translateX(-600px);
  -ms-transform: translateX(-600px);
  transform: translateX(-600px); }

.bg {
  top: -1px;
  right: -1px; }

.hide {
  opacity: 0; }

.lightBlueCopy {
  top: 108px;
  left: 38px; }

#copyFour {
  top: 78px; }

#ctaContainer {
  width: 249px;
  height: 56px;
  background: #FFD600;
  top: 158px;
  left: 39px;
  opacity: 0; }

#closeButton {
  top: 2px;
  right: 3px;
  width: 71px;
  height: 25px; }

#closeCopy {
  position: relative;
  width: 50px;
  bottom: 9px;
  left: 2px;
  font-family: arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-decoration: underline;
  color: black; }

#closeBlack {
  bottom: 2px;
  left: 50px; }

#bgExit {
  width: 970px;
  height: 250px; }
